.heropro-img{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
}

.heropro-img::before{
    content:"";
    background: url("https://images.pexels.com/photos/11142284/pexels-photo-11142284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heropro-img h1{
    font-size: 2.4rem;
}

.heropro-img h4{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .heropro-img h1{
        font-size: 2rem;
    }
}