.herocon-img{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
    object-fit: cover;
}

.herocon-img::before{
    content:"";
    background: url("https://images.pexels.com/photos/10920906/pexels-photo-10920906.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herocon-img h1{
    font-size: 2.4rem;
}

.herocon-img h4{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .herocon-img h1{
        font-size: 2rem;
    }
}