
.work-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2 auto;
}
  
.pro-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container{
    --gap: 1rem;
    --num-cols: 3;
    --row-height: 30rem;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem 2rem 2rem;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap:var(--gap);
}

.project-card{
    background: #1a1919;
    padding: 1.2rem 1 rem;
    border: 1px solid #f5f1e3;
}

.project-card img{
    width: 100%;
}

.project-title{
    color: #f5f1e3;
    padding: 1rem 0;
    text-align: center;
}

.pro-details p{
    padding-bottom: 1 rem;
    font-size: 1.1rem;
    text-align: center;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pro-btns .btn{
    padding: 0.5rem 1.5rem;
    position: relative;
}

@media screen and (max-width: 740px) {
    .project-container{
        max-width: 90%;
        margin: auto;

        grid-template-columns: 1fr;
    }

}